<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="Primeira prova da disciplina de Sistemas para Internet">
		<meta name="author" content="Kim Ruan Lopes">
		<meta name="reply-to" content="kimruandev@gmail.com">
		<meta name="keywords" content="prova, faculdade, tarefa">
		<meta name="robots" content="index,follow">
		<link type="text/css" rel="stylesheet" href="estilos.css">
        <title>HTML 5</title>
	</head>
	<body>
        <header>
            <h1>Primeiro Layout utilizando HTML5</h1>
        </header>
        <main>
            <nav>
                <ul>
                    <li><a href="#">Opção 1</a></li>
                    <li><a href="#">Opção 2</a></li>
                    <li><a href="#">Opção 3</a></li>
                </ul>
            </nav>
            <section>
                <h2>Área geral de contéudo da página</h2>
                <article>
                    <h3>Notícia sobre esportes</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in porta lorem. Morbi condimentum est nibh, et consectetur tortor feugiat at.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in porta lorem. Morbi condimentum est nibh, et consectetur tortor feugiat at.</p>
                </article>
                <article>
                    <h3>Notícia sobre política</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in porta lorem. Morbi condimentum est nibh, et consectetur tortor feugiat at.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in porta lorem. Morbi condimentum est nibh, et consectetur tortor feugiat at.</p>
                </article>
            </section>
        </main>
        <footer>
            <p>Rodapé da página</p>
        </footer>
    </body>
</html>
